Flask==3.0.2
Flask-Login==0.6.2
opencv-python-headless==4.9.0.80
numpy==1.26.4  # Versão estável mais recente da série 1.x
python-dotenv==1.0.0
psycopg2-binary==2.9.9
Werkzeug==3.0.1
gunicorn==21.2.0
setuptools==70.0.0
